## Importing Pandas and Numpy

In [1]:
import pandas as pd
import numpy as np

## Data Loading and Exploratory

In [2]:
data = pd.read_csv(r'C:\Users\Barry\Downloads\Data_for_UCI_named.csv')

In [3]:
data.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [4]:
data.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [5]:
data.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [6]:
data['stabf'].unique()

array(['unstable', 'stable'], dtype=object)

In [7]:
data['stabf'].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

## Checking the relationship between Stab and Stabf

In [8]:
data[(data.stab<=0) & (data.stabf !='stable')]

Empty DataFrame
Columns: [tau1, tau2, tau3, tau4, p1, p2, p3, p4, g1, g2, g3, g4, stab, stabf]
Index: []

In [9]:
data[(data.stab >0) & (data.stabf!= 'unstableble')]

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable
6,6.710166,3.765204,6.929314,8.818562,2.397419,-0.614590,-1.208826,-0.574004,0.177890,0.397977,0.402046,0.376630,0.005954,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,5.754191,3.032743,5.084803,4.633624,5.199250,-1.717030,-1.713212,-1.769009,0.157284,0.975921,0.511555,0.696591,0.050212,unstable
9994,2.042954,8.514335,8.173809,5.466635,3.783797,-1.639912,-0.662469,-1.481417,0.154129,0.944486,0.053225,0.499109,0.026311,unstable
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,0.023892,unstable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,0.037789,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,0.045263,unstable

In [10]:
data.drop(columns=['stab'], inplace=True)

In [11]:
data.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [12]:
X = data.drop(columns=['stabf'])
y = data['stabf']

In [13]:
y.head()

0    unstable
1      stable
2    unstable
3    unstable
4    unstable
Name: stabf, dtype: object

## Modelling the Data

In [14]:
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import ExtraTreeClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score

In [15]:
n_estimators = [50, 100, 300, 500, 1000]

min_samples_split = [2, 3, 5, 7, 9]

min_samples_leaf = [1, 2, 4, 6, 8]

max_features = ['auto', 'sqrt', 'log2', None]

hyperparameter_grid = {'n_estimators': n_estimators,
                       'min_samples_leaf': min_samples_leaf,
                       'min_samples_split': min_samples_split,
                       'max_features': max_features}

In [16]:
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=0.2)

### Scaled data

In [17]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.fit_transform(x_test)

### Random Forest classifier

In [18]:
rf = RandomForestClassifier(random_state=1)
rf.fit(x_train_scaled, y_train)

RandomForestClassifier(random_state=1)

In [19]:
rf_pred = rf.predict(x_test_scaled)
rf_pred[:5]

array(['unstable', 'unstable', 'stable', 'stable', 'unstable'],
      dtype=object)

### Extra Tree Clasifier

In [20]:
etc = ExtraTreeClassifier()
etc.fit(x_train_scaled, y_train)
etc_pred = etc.predict(x_test_scaled)
etc_pred[:5]

array(['unstable', 'unstable', 'unstable', 'stable', 'unstable'],
      dtype=object)

### Randomized Cross Validation

In [21]:
rs = RandomizedSearchCV(rf, param_distributions=hyperparameter_grid, cv=5)
rs.fit(x_train_scaled, y_train)
print(f"Best Score: {round(rs.best_score_, 2)}\nBest Params: {rs.best_params_}")

Best Score: 0.92
Best Params: {'n_estimators': 100, 'min_samples_split': 9, 'min_samples_leaf': 4, 'max_features': 'log2'}

In [22]:
rf_rs = RandomForestClassifier(n_estimators=500, min_samples_split=3, min_samples_leaf=2, max_features='sqrt')
rf_rs.fit(x_train_scaled, y_train)
rf_rs_pred = rf_rs.predict(x_test_scaled)
rf_rs_pred[:5]

array(['unstable', 'unstable', 'stable', 'stable', 'unstable'],
      dtype=object)

In [38]:
hyperparameter_grid_2 = {'min_samples_leaf': min_samples_leaf,
                       'min_samples_split': min_samples_split,
                       'max_features': max_features}
rs_2 = RandomizedSearchCV(etc, param_distributions=hyperparameter_grid_2, cv=5, n_iter=10, scoring='accuracy', n_jobs=-1, verbose=1, random_state=1)
rs_2.fit(x_train_scaled, y_train)
print(f"Best Score: {round(rs_2.best_score_, 2)}\nBest Params: {rs_2.best_params_}")

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Best Score: 0.83
Best Params: {'min_samples_split': 7, 'min_samples_leaf': 6, 'max_features': None}

In [24]:
etc_rs = ExtraTreeClassifier(min_samples_split=3, min_samples_leaf=8, max_features=None)
etc_rs.fit(x_train_scaled, y_train)
etc_rs_pred = etc_rs.predict(x_test_scaled)
etc_rs_pred[:5]

array(['unstable', 'unstable', 'unstable', 'stable', 'unstable'],
      dtype=object)

### Lightgbm

In [25]:
lgbmc = LGBMClassifier(random_state=1)
lgbmc.fit(x_train_scaled, y_train)
lgbmc_pred = lgbmc.predict(x_test_scaled)
lgbmc_pred[:5]

array(['unstable', 'unstable', 'stable', 'stable', 'unstable'],
      dtype=object)

## Rf accuracy score

In [36]:
round(accuracy_score(y_test, rf_pred), 4)

0.928

### lgbmc accracy score

In [27]:
accuracy_score(y_test, lgbmc_pred)

0.9365

### The acccuracy score of the model using the lgbmc > the accuracyof the model using the random forest classifier. This means that using the ligth gradient boosting, improved the accuracy of the model